pyyaml
git+https://github.com/pytorch/pytorch.git@f903f1ab343fea72177f29fc8d453febcaad8905
git+https://github.com/facebookresearch/detectron2.git@5aeb252b194b93dc2879b4ac34bc51a31b5aee13
streamlit
